body{
    margin: 0;
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 0 2em;
}
.paleta button{
    outline: none;
    border: none;
    padding: 20px 20px;
    font-size: 1.1em;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: #1f1f1f;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;
}
.paleta button:hover{
    background-color: #fff;
    color: #1f1f1f;
}
.paleta{
    position: relative;
    background-color: #fff;
    width: 45em;
    height: 400px;
    border-radius:20px;
    box-shadow: 0px 25px 50px -12px rgb(0, 0,0, 0.1);
    text-align: center;
    color: #1f1f1f;
    padding-top: 60px;
    box-sizing: border-box;
}
.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}
.colors > div{
    width: 25%;
}
.color{
    background-color: #ccc;
    height: 280px;
    width: 100%;
}
.color h4{
    font-size: 0.9em;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 0.4s ease;
}
@media screen and (max-width: 500px){
    body{
        padding: 2em;
    }
    .paleta{
        height: auto ;
    }
    .colors{
        flex-direction: column;
    }
    .colors > div{
        width: 100%;
    }
}

@keyframes fade-in{
    to{opacity: 1;}
}